.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.div-block-451 {
  display: flex;
}

.whiteline {
  border-left: 1px solid #fff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.formhalf {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding: 31px;
}

.grid-29 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  margin: 45px auto 135px;
  padding: 23px;
}

.bold-text-2 {
  font-size: 1rem;
  font-weight: 500;
}

.max350 {
  max-width: 350px;
}

.newssubmit {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #c8102e;
  height: 50px;
  padding-left: 25px;
  padding-right: 50px;
  font-size: .7rem;
}

.footerheader {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footer2 {
  background-color: #fff;
  margin-bottom: 200px;
}

.bottomfooterlink {
  color: #020203;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: .8rem;
}

.bottomfooterlink:hover, .link-3 {
  color: #c8102e;
}

.footerbottomheader {
  margin-bottom: 13px;
  font-size: 1rem;
}

.form-4 {
  flex-flow: column;
  display: flex;
}

.newsinput {
  height: 50px;
}

.link-block-2 {
  cursor: pointer;
}

.footernew {
  background-color: #020203;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footerlinks {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  min-height: auto;
  margin-bottom: 107px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.checkbox-label {
  color: #fff;
  font-size: .8rem;
}

.text-block-93 {
  color: #fff;
  text-align: center;
  margin-bottom: 23px;
}

.bold-text-3 {
  font-size: 1rem;
  font-weight: 400;
}

.div-block-452 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footerwrap {
  flex-flow: column;
  display: flex;
}

.socialgrid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 320px;
}

.footercenter {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #020203;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

@media screen and (max-width: 767px) {
  .whiteline {
    border-left-style: none;
  }

  .grid-29 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footercenter {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-29 {
    grid-column-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#w-node-_1fe4cdba-d5a3-76ce-f452-ecfdb52c7a5c-6edc0c54, #w-node-_1fe4cdba-d5a3-76ce-f452-ecfdb52c7a5f-6edc0c54, #w-node-_1fe4cdba-d5a3-76ce-f452-ecfdb52c7a62-6edc0c54, #w-node-_1fe4cdba-d5a3-76ce-f452-ecfdb52c7a65-6edc0c54, #w-node-_1fe4cdba-d5a3-76ce-f452-ecfdb52c7a68-6edc0c54, #w-node-_1fe4cdba-d5a3-76ce-f452-ecfdb52c7a6b-6edc0c54 {
  place-self: center;
}

#w-node-_1fe4cdba-d5a3-76ce-f452-ecfdb52c7a6d-6edc0c54 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1fe4cdba-d5a3-76ce-f452-ecfdb52c7a9e-6edc0c54 {
  grid-area: span 1 / span 3 / span 1 / span 3;
  justify-self: end;
}

@media screen and (max-width: 479px) {
  #w-node-_1fe4cdba-d5a3-76ce-f452-ecfdb52c7a89-6edc0c54, #w-node-_1fe4cdba-d5a3-76ce-f452-ecfdb52c7a90-6edc0c54, #w-node-_1fe4cdba-d5a3-76ce-f452-ecfdb52c7a97-6edc0c54 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }
}
